__pycache__/ 
*.py[cod] 
*.pyd 
*.pyo 
*.egg-info/ 
.eggs/ 
.build/ 
build/ 
dist/ 
.site/ 
site/ 
.artifacts/ 
artifacts/ 
.validation_output/ 
validation_output/ 
.pytest_cache/ 
.mypy_cache/ 
.ipynb_checkpoints/ 
# CI outputs 
pytest_precision.xml 
